#content {
    display: flex;
}

#content img {
    width: calc(100% / 3);
    height: calc(100vh - 154px - 98px);
    object-fit: cover;
}

h1 {
    font-size: 64px;
    margin-bottom: 32px;
}

label {
    font-weight: 600;
}

p, label, button, select {
    font-size: 24px;
}

select {
    font-weight: 400;
}

.col {
    width: calc(100% / 3);
    padding: 60px 30px 60px 30px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

button {
    font-weight: 400;
}

#right-col {
    display: flex;
}

#right-col .button1 {
    height: min-content;
    margin: 20px;
}

#right-col .button1 p {
    font-size: 30px;
}

#price {
    font-weight: 400;
    font-size: 36px;
}